@model IEnumerable<TARSDeliveryWebApp.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt-3">
    <table id="table-datatables" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Inactive</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Delete_at</td>
                <td>
                    <a asp-action="Edit" asp-controller="Branch" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>


                    @if (item.Delete_at == null)
                    {
                        <a asp-area="Admin" asp-action="Delete" asp-controller="Branch" asp-route-id="@item.Id" class="btn btn-outline-danger ">Inactive</a>
                    }
                    else
                    {
                        <a asp-area="Admin" asp-action="Delete" asp-controller="Branch" asp-route-id="@item.Id" class="btn btn-outline-success ">Active</a>
                    }
                </td>
            </tr>
            }
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Inactive</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>